@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Poppins:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3eb;

}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #7b7b7b;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.display{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: right ;
    outline: none;
    border: none;
    color: #000000;
    pointer-events: none;
    background: #e7e8ec;
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}


.buttons button{
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none ;
    font-size: 20px;
    cursor: pointer;
    background-color: #d7d7d7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.buttons button:active{
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
}

.operator{
    color: #000000;
}